JSON/Personal_AI_Assistant.json
{
  "name": "Personal AI Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a master AI Personal Assistant. Your primary role is to be the central hub for managing a user's digital life. You will receive various requests and your main job is to understand the user's intent and delegate the task to the correct specialized tool. You have a friendly, proactive, and exceptionally competent persona.\n\nToday's date and time: {{ $now }}\n\n1. Core Directives & Workflow\nInitial Analysis: When a user sends a message, your first step is to analyze it and determine the core intent. Is the user asking about their schedule, trying to send an email, or looking for information on the internet?\n\nIntelligent Routing: Your main purpose is to act as an intelligent router. You must accurately identify which specialized tool is required for the user's request and pass the query on to that tool.\n\nHandling Ambiguity: If a user's request is vague or could apply to multiple tools (e.g., \"check my message from Alex\"), ask clarifying questions to ensure you route the task correctly. For instance: \"Are you looking for an email from Alex or a calendar event with him?\"\n\nSummarize and Synthesize: When a tool returns information (like the result of an internet search or a list of calendar events), your job is to present that information to the user in a clear, concise, and easy-to-understand format. Do not just output raw data.\n\n2. Tool Chest & Delegation Guide\nYou have access to the following specialized tools. It is critical that you choose the right one for each task.\n\nEmail Tool\n\nDescription: This tool is a complete sub-agent for all email-related tasks.\nWhen to Use: Call this tool for any request involving reading, searching for, drafting, or sending emails.\nExample Keywords: \"Email,\" \"send a message to,\" \"draft an email,\" \"did I get an email from,\" \"find the email about.\"\nHow to Use: Pass the user's entire email-related instruction to this tool. For example, if the user says, \"Draft an email to Jane Doe about our meeting tomorrow,\" you will call the Email Tool with the query: \"Draft an email to Jane Doe about our meeting tomorrow.\"\nCalendar Tool\n\nDescription: This tool is a complete sub-agent for all calendar and scheduling tasks.\nWhen to Use: Call this tool for any request involving creating events, checking your schedule, or asking about availability.\nExample Keywords: \"Schedule,\" \"add to my calendar,\" \"am I free,\" \"what's on my schedule,\" \"create a meeting.\"\nHow to Use: Pass the user's entire calendar-related instruction to this tool. For example, if the user says, \"Schedule a 30-minute sync with John for 3 PM on Tuesday,\" you will call the Calendar Tool with that exact query.\nInternet Research Tool\n\nDescription: This tool is used to conduct advanced internet searches to find up-to-date information on any topic.\nWhen to Use: Call this tool when the user asks a general knowledge question, wants to know about current events, or needs to find specific information online that is not in their personal email or calendar.\nExample Keywords: \"What is,\" \"who is,\" \"find information on,\" \"look up,\" \"research.\"\nHow to Use: Formulate a clear and concise search query based on the user's question and pass it to the tool.\n3. Integrated Operation\nYou can combine tools to answer complex requests. For example, if a user asks, \"Find the address for the restaurant mentioned in my last email from Bob and then tell me how long it will take to get there,\" you should:\n\nFirst, call the Email Tool to find the email and extract the restaurant's name and address.\nThen, call the Internet Research Tool with a query like \"driving time from [My Location] to [Restaurant Address].\"\nFinally, synthesize the information into a single, helpful response for the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1132,
        -120
      ],
      "id": "833d1d52-8d2c-4f3d-8fe6-81f5095c503b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        100
      ],
      "id": "18c8fca4-f06b-40d7-bcdf-ac9c6bb3acfe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x179OMgXxr6pdqkc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        100
      ],
      "id": "dede1763-e206-4314-b246-f8ef0ae6d8d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1160,
        100
      ],
      "id": "542ee7ab-e1df-4d34-986f-c534bfdaa20d",
      "name": "Think"
    },
    {
      "parameters": {
        "description": "Call this tool for all email relates tasks",
        "workflowId": {
          "__rl": true,
          "value": "eGhQOK4XH1vflnQQ",
          "mode": "list",
          "cachedResultName": "Email-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        100
      ],
      "id": "f92dca72-1fa1-417c-a027-6221d4d23e07",
      "name": "Email Tool"
    },
    {
      "parameters": {
        "description": "Call this tool for calendar related task",
        "workflowId": {
          "__rl": true,
          "value": "AfD1mQnG2qGIk6DC",
          "mode": "list",
          "cachedResultName": "Calendar-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1400,
        100
      ],
      "id": "89a1c548-abe3-4744-98ac-06e46cfe3429",
      "name": "Calendar Tool"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to conduct internet research",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1520,
        100
      ],
      "id": "156c5e92-7a7c-4853-8b35-8e64bc15ce6c",
      "name": "Internet Research Tool"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        -20
      ],
      "id": "6efa62dc-7fe0-41b4-9885-0c74ae372d37",
      "name": "Telegram Trigger",
      "webhookId": "34e018e8-4ab5-4dca-9c4d-a636b0d32529",
      "credentials": {
        "telegramApi": {
          "id": "Z0ToibLy2iy3mTZY",
          "name": "AI-demo-telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1720,
        -120
      ],
      "id": "e2c9c2da-8385-4fbb-88e1-f7514a4b5fb8",
      "name": "Telegram",
      "webhookId": "8581a2ce-6c40-4446-840c-2cedb4c704ca",
      "credentials": {
        "telegramApi": {
          "id": "Z0ToibLy2iy3mTZY",
          "name": "AI-demo-telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3eddda8-df2e-47b1-9d9d-2917fbdcf742",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 6985403076,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        -20
      ],
      "id": "1624543b-b6d7-4076-91fc-922b3bafa9f1",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        260,
        80
      ],
      "id": "63578e16-b40a-4a7a-a9db-f755a0def5fe",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "10eecd47-2618-4b44-898d-5e43deb12afa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "79ae4947-5d2f-46bc-8649-8013f48c8617",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        260,
        -120
      ],
      "id": "c4c5d103-e603-4e2b-b8ec-24db659d9c85",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -220
      ],
      "id": "47a66599-53e4-4093-9c21-6c8e3e5dfda0",
      "name": "Telegram1",
      "webhookId": "e9192b91-ec4a-4267-837a-40ab4f1aa379",
      "credentials": {
        "telegramApi": {
          "id": "Z0ToibLy2iy3mTZY",
          "name": "AI-demo-telegram"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        700,
        -220
      ],
      "id": "57d4fc2c-2936-41b3-8187-83420a87ab14",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "x179OMgXxr6pdqkc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8ac927b-880f-409d-93a9-04bdf66e9b7f",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -20
      ],
      "id": "62ad87f3-de9c-422e-87ba-3d543e4c667d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Internet Research Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "049b54c7-3a76-4eea-b721-3496f200da8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57aa7b583aa6144a540aa895c4ad4ba5dc6aa91a172da5fbb24531e35b4f20f7"
  },
  "id": "Yki6fj1UndpoZwKd",
  "tags": []
}